*{
    font-family: 'Rubik';
}

body{
    margin: 0;
    background-color: gainsboro;
}

header{
    background: url(../images/pattern-bg.png);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1{
    color:hsl(0, 0%, 100%);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.btn-arrow{
    width: 12px;
}

input{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    width: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    color: hsl(0, 0%, 17%);
    font-weight: 400;
}

input::placeholder{
    color: hsl(0, 0%, 59%);
}

button{
    background-color: black;
    height: 44px;
    width: 60px;
    border: none;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: none;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    height: 100px;
    width: fit-content;
    position: absolute;
    bottom: -135px;
    padding: 20px;
    z-index: 2000;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 35px 0 35px;
    margin: 15px 0 15px 0;
}

hr{
    background-color: hsl(0, 0%, 59%);
    width: 1px;
    height: 70px;
}

b{
    color: hsl(0, 0%, 59%);
    margin: 0;
}

h2{
    color: hsl(0, 0%, 17%);
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.largestdata{
    width: 230px;
}

.img{
    position: relative;
    z-index: 10000;
} 


@media screen and (max-width:380px) {
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%);
        overflow:visible;
        height: fit-content;
        width: 300px;
        position: absolute;
        bottom: -295px;
        padding: 20px;
        z-index: 2000;
    }

    hr{
        background-color: hsl(0, 0%, 59%);
        width: 100px;
        height: 1px;
    }

    h2{
        color: hsl(0, 0%, 17%);
        margin: 0;
        font-size: 20px;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:0;
        margin:0;
    }

    input{
        font-size: 18px;
        font-weight: 500;
        padding: 10px 15px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        color: hsl(0, 0%, 17%);
        font-weight: 400;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 380px;
    }
}